---
// Mision.astro
---

<div class="max-w-6xl mx-auto">
  <!-- Sección de Misión -->
  <section class="grid md:grid-cols-2 gap-16 mb-5 items-start">
    <div>
      <h2 class="titulo-subrayado mb-5">Nuestra misión</h2>
      <p class="text-gray-700 leading-relaxed text-justify">
        Somos una Comunidad Educativa Católica promovida por la Congregación de las Hijas de María Auxiliadora en Chosica que desarrolla sus servicios en los niveles de Inicial, Primaria y Secundaria con el aporte original del Sistema Preventivo, basado en la religión, la razón y la amabilidad y los valores institucionales de la alegría, estudio y oración que promueve la formación integral, según los principios del Evangelio y del Magisterio de la Iglesia y los lineamientos del Ministerio de Educación, a fin que las estudiantes ejerzan su ciudadanía con ética y coherencia buscando el bien común y el cuidado consciente de una ecología integral. Contamos, para ello, con un sólido equipo de educadores católicos, identificados con la axiología salesiana, que vive en clima de familia y tiene como principio la formación continua, desarrollando proyectos de innovación, utilizando los medios tecnológicos pertinentes a la situación actual y a las necesidades e intereses de las estudiantes.
      </p>
    </div>
    <div>
      <img 
        src="/images/mision1.jpg" 
        alt="Equipo educativo misión" 
        class="rounded-xl shadow-lg w-full object-cover h-[350px] mt-20 transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
      />
    </div>
  </section>

  <!-- Sección de Visión -->
  <section class="grid md:grid-cols-2 gap-16 items-start mb-20">
    <div class="hidden md:block">
  <img 
    src="/images/mision3.jpg" 
    alt="Equipo educativo visión" 
    class="rounded-xl shadow-lg w-full object-cover h-[350px] mt-20 transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
  />
</div>
    <div>
      <h2 class="titulo-subrayado mb-8">Nuestra visión</h2>
      <p class="text-gray-700 leading-relaxed text-justify">
        Al año 2025, el CEP María Auxiliadora de Chosica será una Comunidad Educativa que lidera una educación innovadora y de calidad ante los desafíos de la contemporaneidad, con la fuerza transformadora del Sistema Preventivo y en red con otras instituciones; que forma estudiantes autónomas, críticas y solidarias que ejerzan sus deberes y derechos, para contribuir al desarrollo de la sociedad y del país desde una ecología integral; que cuenta con educadores proactivos e innovadores que tienen como principio la formación continua y que viven su vocación de servicio, promoviendo el ejercicio de una ciudadanía responsable, crítica, que integre fe, cultura y vida; y que colabora con las familias comprometidas en la educación de sus hijas, que acompañan sus procesos formativos con responsabilidad e identidad salesiana.
      </p>
    </div>
  </section>
</div>