---
// No necesita props
---

<div class="hero">
  <div class="hero-text">
    <h1>
      Un legado salesiano:<br />
      <span>una educación integral, con valores que transforma vidas y futuros</span>
    </h1>
    <p>Formamos personas <br> íntegras y comprometidas.<br />¿Listo para ser parte de nuestra misión?</p>
    <a href="#" class="hero-button">
      Admisión 2025
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M13.293 4.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L17.586 12H4a1 1 0 110-2h13.586l-4.293-4.293a1 1 0 010-1.414z"/>
      </svg>
    </a>
  </div>
  <div class="hero-image">
    <img src="/santos.png" alt="Educación Salesiana" />
  </div>
</div>