---
// No necesita props
---

<section class="ofrecemos">
  <h2 class="titulo-subrayado">¿Qué ofrecemos?</h2>
  <div class="niveles">
    <div class="card">
      <img src="/nivelinicial.png" alt="Nivel Inicial" />
      <div class="banda">Nivel Inicial <span class="flecha">➜</span></div>
    </div>
    <div class="card">
      <img src="/nivelprimaria.png" alt="Nivel Primaria" />
      <div class="banda">Nivel Primaria <span class="flecha">➜</span></div>
    </div>
    <div class="card">
      <img src="/nivelsecundaria.png" alt="Nivel Secundaria" />
      <div class="banda">Nivel Secundaria <span class="flecha">➜</span></div>
    </div>
    <div class="card">
      <img src="/talleres.png" alt="Talleres" />
      <div class="banda">Talleres <span class="flecha">➜</span></div>
    </div>
  </div>
</section>