---
// Offer
---

<section class="bg-[#f8ffff] py-8 px-6 md:px-6">
  <div class="max-w-6xl mx-auto">
    <h2 class="titulo-subrayado mb-20">¿Qué ofrecemos?</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="card">
        <img src="/images/nivelinicial.png" alt="Nivel Inicial" />
        <div class="banda">Nivel Inicial <span class="flecha">➜</span></div>
      </div>
      <div class="card">
        <img src="/images/nivelprimaria.png" alt="Nivel Primaria" />
        <div class="banda">Nivel Primaria <span class="flecha">➜</span></div>
      </div>
      <div class="card">
        <img src="/images/nivelsecundaria.png" alt="Nivel Secundaria" />
        <div class="banda">Nivel Secundaria <span class="flecha">➜</span></div>
      </div>
      <div class="card">
        <img src="/images/talleres.png" alt="Talleres" />
        <div class="banda">Talleres <span class="flecha">➜</span></div>
      </div>
    </div>
  </div>
</section>