---
// No necesita props (estático)
---

<div class="top-bar">
  <div class="info-group">
    <div class="info-item"><img src="/ubicacion.png" alt="Ubicación" /><span>Jr. Trujillo Sur N° 768 - Chosica</span></div>
    <div class="info-item"><img src="/correo.png" alt="Correo" /><span>cepmachosica@cepma.edu.pe</span></div>
    <div class="info-item"><img src="/telefono.png" alt="Teléfono" /><span>01-3601377</span></div>
    <div class="info-item"><img src="/horario-atencion.png" alt="Horario" /><span>Atención: Lunes-Viernes 8:00 a.m - 3:00 p.m</span></div>
  </div>
  <div class="socials">
    <img src="/facebook.png" alt="Facebook" />
    <img src="/whatsapp.png" alt="WhatsApp" />
    <img src="/tiktok.png" alt="TikTok" />
    <img src="/instagram.png" alt="Instagram" />
  </div>
</div>